// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
    font-family: 'Thanos';
    src: url('../font/thanos.ttf') format('truetype');
}
@font-face {
    font-family: 'ThanosNum';
    src: url('../font/thanos.ttf') format('truetype');
    unicode-range: U+0030-0039;
}

// Font Mixins
@mixin body-font {
  font-family: 'Tahoma';
  font-weight: 300;
}
@mixin heading-font {
    font-family: 'Thanos';
    font-weight: 700;
}